<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MurkyWeb</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <header>
        <h1>MurkyWeb</h1>
        <h2>Secure Systems Can Be Simple</h2>
        <p>Pre-configured Docker Images For Tor/I2P Services</p>
    </header>
    <main>
        <div class="grid-container">
            <a href="/tor/tor-middle-relay" class="project-card">
                <img src="../static/images/tor.png" alt="Project Tor Middle Relay">
                <div class="description">Tor Middle Relay</div>
            </a>

            <a href="/bitcoin/bitcoin-core" class="project-card">
                <img src="../static/images/bitcoin.png" alt="Project Bitcoin Core">
                <div class="description">Bitcoin Core</div>
            </a>
            
            <a href="/monero/monero-node" class="project-card">
                <img src="../static/images/monero.png" alt="Project Monero Node">
                <div class="description">Monero Node</div>
            </a>
        </div>
    </main>
    <footer>
        <p>Crypto Donations:</p>
        <p>BTC: {{ btc }}</p>
        <p>XMR: {{ xmr }}</p>
        <p>Este site está licenciado sob a <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener noreferrer">Licença MIT</a>.</p>
    </footer>
</body>
</html>